<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net5.2" developmentDependency="true" requireReinstallation="true" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net5.2" developmentDependency="true" requireReinstallation="true" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net5.2" developmentDependency="true" requireReinstallation="true" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" developmentDependency="true" />
  <package id="Sitecore.Kernel" version="10.3.1" targetFramework="net48" />
  <package id="Sitecore.XConnect" version="10.3.1" targetFramework="net48" />
  <package id="Sitecore.XConnect.Client" version="10.3.1" targetFramework="net48" />
  <package id="Sitecore.XConnect.Client.Configuration" version="10.3.1" targetFramework="net48" />
  <package id="Sitecore.XConnect.Collection.Model" version="10.3.1" targetFramework="net48" />
  <package id="Sitecore.XConnect.Core" version="10.3.1" targetFramework="net48" />
</packages>